main {
    border: 5px solid rgb(240, 23, 157);
}


  
  /* Navigation and page banner */
  
  .HomeBanner {
  background-color: rgb(193, 227, 245);
    
  border: 1px solid red;
  position: relative;
  top: 60px;
  max-height: 50%;
  max-width: 100%;
}

nav {
    text-align: end;
    border: 1px solid rgb(215, 155, 16);
      
}

nav ul {
    border: 1px solid rgb(215, 155, 16);
    list-style-type:none;
}

li {
    display: inline-block;
    padding: 20px;
    border: 1px solid rgb(215, 155, 16);
}

.profileImage {
    border: 2px solid #d1d5db;
  border-radius: 0px 50% 50% 50%;

  position: absolute;
  top: 90px;
  z-index: 1;
  height: auto;
  max-width: 50%;
  width: 400px;      
}

h1 { 
    text-align: center;
    font-size: 100px; 
    border: 1px solid rgb(96, 16, 215);   
}




/*blurb*/

section {
    display: inline-block;
    width: 25%;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(11, 4, 22);
}

section h3 {
    text-align: center;
}




 /* Skills section */

.skills {
    margin-top: 15%; 
    display: flex;
    justify-content: center;
    border: 5px solid rgb(62, 16, 215);
    display: inline-block;
    max-width: 100%;
    width: 100%;

}

.skills h2 {
    border: 5px solid rgb(209, 245, 50);
    max-width: 100%;
    width: 100%;
    height: 50px;
    text-align: center;
}
.skillLogos {
   border: 5px solid rgb(38, 125, 53);
   max-width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
}

article {
   margin-top: 15%; 
   display: flex;
   justify-content: center;
   border: 5px solid rgb(215, 155, 16);
}




/*footer*/

footer {
    background-color: rgb(193, 227, 245);
}

