main {
    border: 5px solid rgb(240, 23, 157);
    
}


  
  /* Navigation and page banner */



nav {
    text-align: end;      
}

nav ul {
    list-style-type:none;
}

li {
    display: inline-block;
    padding: 20px;
}

.topSection {
    display: flex;
}

.aboutMeSection {
        
        max-width: 40%;  
        display: flex;
        border: 5px solid green; 
        flex-basis:  100%;
}
      
.aboutMeBackground {
      background-color: rgb(177, 177, 190);
      border: 5px solid green;
      height: 40rem;
      border-radius: 0px 0% 50% 0%;   
      padding: 60px 50px 60px;  
      margin-left: 10rem;         
}

.aboutMeSection p {
    width: 70%;
    text-align: center;
    border: 5px solid green;
    margin: 0 auto;
    margin-top: 2rem;
    color: rgb(250, 250, 250);
    

}

.profileImage {
  border-radius: 0px 50% 50% 50%;
  z-index: 1;
  width: 25rem; 
  max-width: 100%;
  border: 5px solid green; 
  margin: 0 auto;
  
  
   
}

.aboutMeSection h1 { 
    font-size: 3.5rem; 
    color: rgb(250, 250, 250);
    border: 5px solid green;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 2rem;     
}

.theBeginning {
   flex: 0 0 25%;
}

.themiddle {
    flex: 0 0 25%;
}

.theEnd {
    flex: 0 0 25%;
}

/*blurb*/

.aboutMeText {

   border: 3px solid rgb(38, 34, 240);
   display: flex;
   margin: 0 auto; 
   flex-direction: row;
   justify-content: space-evenly;
   max-width: 50%;
   
}

@media only screen and (max-width: 1500px) {
    .aboutMeText {
        flex-direction: column;
        align-content: center;
    }
}



section {
    border: 3px solid rgb(231, 101, 119);
    max-width: 50%;
    margin: 2rem; 
    max-height: 50%;   
     
}



section h3 {
    text-align: center;
    border: 3px solid rgb(76, 13, 21);
}




 /* Skills section */

.skills {
    border: 3px solid rgb(218, 187, 48);
    margin-top: 3%; 
    
    justify-content: center;
    display: inline-block;
    max-width: 100%;
    width: 100%;

}

.skills h2 {
    max-width: 100%;
    width: 100%;
    height: 50px;
    text-align: center;
}
.skillLogos {
   max-width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
}

article {
   margin-top: 15%; 
   display: flex;
   justify-content: center;
}




/*footer*/

footer {
    background-color: rgb(177, 177, 190);
    height: 5rem;
}
