/* Navigation and page banner */
  
.HomeBanner {
    background-color: rgb(193, 227, 245);
      
    border: 1px solid red;
    position: relative;
    top: 60px;
    max-height: 50%;
    max-width: 100%;
  }
  
  nav {
      text-align: end;
      border: 1px solid rgb(215, 155, 16);
        
  }
  
  nav ul {
      border: 1px solid rgb(215, 155, 16);
      list-style-type:none;
  }
  
  li {
      display: inline-block;
      padding: 20px;
      border: 1px solid rgb(215, 155, 16);
  }
  
  
  
  .profileImage {
    /* Border */
    border: 2px solid #d1d5db;
    border-radius: 0px 50% 50% 50%;
  
    position: absolute;
    top: 90px;
    z-index: 1;
    height: auto;
    max-width: 50%;
    width: 400px;      
  }
  
  
  
  footer {
      background-color: rgb(193, 227, 245);
  }
  
  main {
      border: 5px solid rgb(240, 23, 157);
  }